<%# on met un formulaire simple form en place %>
<div class="d-flex justify-content-center">
  <% @party.ten_letters_list.chars.each do |letter| %>
    <div class="letter-cards">
      <%= letter %>
    </div>
  <% end %>
</div>

<%= simple_form_for [@game, @party] do |f| %>
  <%= f.input :word, label: "Votre mot le plus long", required: true %>
  <%= f.submit "Valider", class: "custom-btn" %>
<% end %>
<%# on affiche les 10 lettres générées %>
<%# on a un champ pour rentrer le mot %>
<%# on a un bouton pour valider %>
<%# on a un bouton pour recommencer %>
<%# on affiche le mot et le score %>
<%# on affiche un bouton pour recommencer %>
<%# on affiche un bouton pour retourner à l'index %>
<%# on affiche un bouton pour retourner à la partie en cours %>
<%= link_to "Retour au jeu en cours", game_path(@game), class: "custom-btn" %>
