<div class="container">
  <div class="row">
  <%# bloc pour le titre de la page %>
    <div class="d-flex justify-content-center">
      <% %w[R E G L E S].each do |letter| %>
        <div class="letter-cards">
          <%= letter %>
        </div>
      <% end %>
    </div>
    <%# bloc pour la card des règles du jeu %>
    <div class="rules-card">
      <p>Vous devrez composer un mot à partir d'une liste de 10 lettres aléatoires.</p>
      <ul>
       <li>Bien évidemment, aucuns mots inventés ne sera validé</li>
        <li>Seul un mot présent dans le dictionnaire sera valable.</li>
        <li>Si le mot est validé, alors vous gagnerez 1 point par lettre qui compose le mot.</li>
        <li>Chaque partie est composé de 5 manches. Tenez de battre votre record!</li>
      </ul>
    <%# <%= link_to "Commencer une nouvelle partie", games_path, method: :post, class: "btn btn-primary rounded-pill" %>
      <%= form_with url: games_path, method: :post, local: true do %>
        <%= submit_tag "Commencer un nouveau jeu", class: "custom-btn" %>
      <% end %>
      </div>

  </div>
</div>


<% @games.each do |game| %>
  <div class="container game-recap-card">
    <div class="row">
      <div class="col-12">
        <h2>Jeu n° <%= game.id %> </h2>
        <p>Score: <%= game.parties.sum { |party| party.score } %></p>
      </div>
    <div class="blocparty">
    <%= link_to "Jeu en cours", game_path(game), class:"custom-btn" %>
    </div>
  </div>
</div>
<% end %>
