<%# on fait un simple form avec un affichage ndes 10 lettres qu'on définit et génère dans le modele %>
<%# on a le formulaire ou le joueur peut rentrer son mot le plus long %>
<%# avec une validation on check si le mot est correct %>
<%# check dico %>
<%# si c'est ok, on est redirigé sur le show %>
<%# on affiche les 10 lettres générées précédemment avec le mot et une formule de calcul de points %>
<%# on affiche un bouton pour recommencer %>
<div class="container">
  <div class="row">
  <%# bloc pour le titre de la page %>
    <div class="d-flex justify-content-center">
      <% %w[P A R T I E ° ].each do |letter| %>
        <div class="letter-cards">
          <%= letter %>
        </div>
      <% end %>
      <div class="letter-cards party-number-card">
        <%= @game.id %>
      </div>
    </div>


  <%# bloc pour la card des règles du jeu %>
    <div class="rules-card">
      <p>Vous devrez composer un mot à partir d'une liste de 10 lettres aléatoires.</p>
      <ul>
       <li>Bien évidemment, aucuns mots inventés ne sera validé</li>
        <li>Seul un mot présent dans le dictionnaire sera valable.</li>
        <li>Si le mot est validé, alors vous gagnerez 1 point par lettre qui compose le mot.</li>
        <li>Chaque partie est composé de 5 manches. Tenez de battre votre record!</li>
      </ul>
      <h1> Pour démarrer une nouvelle partie, c'est juste en dessous! </h1>
        <%= link_to "Nouvelle partie", new_game_party_path(@game), class: "custom-btn" %>
    </div>
  </div>
</div>


<% @game.parties.each_with_index do |party, index| %>
  <div class="container party-recap-card">
    <div class="row">
      <div class="col-12">
        <h2>Partie n° <%= index + 1 %> en cours </h2>
        <p>Score: <%= party.word.length %> </p>
        <p>Votre mot: <%= party.word %> </p>
        <%= link_to "Détails", game_party_path(@game), class:"custom-btn" %>
      </div>
    </div>
  </div>
<% end %>
  <%= link_to "revenir au récapitulatif des jeux", games_path(@game), class:"custom-btn" %>
